// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #6A9AEB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Our colors
$ronpa-red-light: #f0d4d3;
$ronpa-red: #C34F49;


$ronpa-tan-light: #fcfaed;
$ronpa-tan: #F9F4D4;

$ronpa-purple-light: #b6baf0;
$ronpa-purple-medium: #b186f5;
$ronpa-purple: #535896;
$ronpa-purple-dark: #533d4a;
$ronpa-purple-dark-50: rgba(#533d4a, 0.2);

//random grays
$ultra-light-gray: #fafafa;
$light-gray: #F4F4F4;
$lighter-gray: rgb(200, 200, 200);
$medium-gray: rgb(150, 150, 150);
$dark-gray: rgb(80, 80, 80);
$off-black: #212121;
