// Import page-specific CSS files here.
@import "home";
@import "results";

body {
  background-color: $ronpa-tan-light;
}


a {
  text-decoration: none;
  color: $off-black;
  &:hover {
    text-decoration: none;
    color: $off-black;
  }
}
