// Import page-specific CSS files here.
@import "home";

body {
  background-color: #F9FBFF;
}


a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
