#results-box-winner {
  background-color: $ronpa-red;
  height: 600px;
  margin-top: 100px;
  padding: 100px;
  color: $ronpa-tan;
  border-radius: 16px;
}

#results-box-loser {
  background-color: $ronpa-tan;
  height: 600px;
  margin-top: 100px;
  padding: 100px;
  color: $ronpa-red;
  border-radius: 16px;
  border: 2px solid $ronpa-red;
}

#results-buttons {
  display: grid;
  grid-column-gap: 24px;
  grid-template-columns: auto auto;
}

.feedback-icon-tan {
  font-size: 50px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 2px solid $ronpa-tan;
  color: $ronpa-tan;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8px;
  transition: 0.3s;
  outline: none;
  transition: 0.3s ease-in-out;
  &:hover {
    color: $ronpa-red;
    background-color: $ronpa-tan;
  }
}

.feedback-icon-red {
  font-size: 50px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 2px solid $ronpa-red;
  color: $ronpa-red;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8px;
  transition: 0.3s;
  outline: none;
  transition: 0.3s ease-in-out;
  &:hover {
    color: $ronpa-tan;
    background-color: $ronpa-red;
  }
}

.feedback-icons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 50px;
  transition: 0.3s;
  outline: none;
  transition: 0.3s ease-in-out;
}

.feedback-button-active-tan{
  transform: scale(1.1);
  background-color: $ronpa-tan;
  color: $ronpa-red
}

.feedback-button-active-red{
  transform: scale(1.1);
  background-color: $ronpa-red;
  color: $ronpa-tan;
}




