<!--<div id="body-overlay"></div>
    <nav class="real-menu sidebar-nav" role="navigation">
        <ul>
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
        </ul>
    </nav>
<button id="open-menu"><i class="fas fa-bars"></i></button> 
-->