<div class="container">
  <h1>Debate Topics</h1>
  <%= link_to "Dashboard", user_path(current_user) %>
</div>

<div class="container">
  <% @topics.each do |topic| %>
      <%= render 'topic_card' %>
  <% end %>
</div>



