<div>
  <div class="text-right mr-3 mt-3">
    <%= link_to "Dashboard", user_path(current_user), class:"btn btn-primary" %>
  </div>
    <h1 class="text-center mb-3">Debate Topics</h1>
</div>

<div class="container">

  <div class="topic-card-container">
    <% @topics.each do |topic| %>
        <%= render 'topic_card', topic: topic %>
    <% end %>
  </div>
</div>



