@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

.container-topic-show{
  position: relative;
  bottom: 200px;
  width: 70%;
  margin: 0 auto;
}

#topic-show-title{
  font-family: 'Rock Salt', cursive;
  font-size: 1.8em;
}

#topic-show-desc{
  margin: 0 auto;
}

#topic-show-desc h3{
  font-size: 1.2em;
}

.quarter-circle-top-left{
  position: relative;
  top: 0;
  width: 200px;
  height: 200px;
  background: #6A9BEB;
  clip-path: ellipse(200px 200px at 0% 0%);
}

.rating-background-yellow{
  background-color: #F6E27F;
  padding: 10px 20px;
  border-radius: 20px;
}

.rating-background-orange{
  background-color: #FF9934;
  padding: 10px 20px;
  border-radius: 20px;
}

.rating-background-red{
  background-color: rgb(212, 64, 64);
  padding: 10px 20px;
  border-radius: 20px;
}
