<div>
  <h4 class="mb-4">Enter 6 arguments to debate on this topic </h4>
  <div class="row">
    <div class="col">
      <h5>Affirmative Arguments</h5>
      <% current_user.arguments.where(topic_id: @topic.id).affirmative.each do |argument| %>
        <%= render "arguments/new_argument_form", argument: argument, side: "affirmative" %>
      <% end %>
      <% (3 - current_user.arguments.where(topic_id: @topic.id).affirmative.count).times do %>
        <%= render "arguments/new_argument_form", argument: @argument, side: "affirmative" %>
      <% end %>
    </div>
    <div class="col">
      <h5>Negative Arguments</h5>
      <% current_user.arguments.where(topic_id: @topic.id).negative.each do |argument| %>
        <%= render "arguments/new_argument_form", argument: argument, side: "negative" %>
      <% end %>
      <% (3 - current_user.arguments.where(topic_id: @topic.id).negative.count).times do %>
        <%= render "arguments/new_argument_form", argument: @argument, side: "negative" %>
      <% end %>
    </div>
  </div>
</div>
