<div>
  <h4 class="argument-form-description mb-4">Enter six arguments to Debate or Moderate this topic </h4>
  <div class="row justify-content-center">
  <div class="row mb-3">
    <div class="col-6">
      <h5 class = "argument-form-header">Affirmative Arguments</h5>
      <% current_user.arguments.where(topic_id: @topic.id).affirmative.each do |argument| %>
        <%= render "arguments/new_argument_form", argument: argument, side: "affirmative" %>
      <% end %>
      <% (3 - current_user.arguments.where(topic_id: @topic.id).affirmative.count).times do %>
        <%= render "arguments/new_argument_form", argument: @argument, side: "affirmative" %>
      <% end %>
    </div>
    <div class="col-6">
      <h5 class = "argument-form-header">Negative Arguments</h5>
      <% current_user.arguments.where(topic_id: @topic.id).negative.each do |argument| %>
        <%= render "arguments/new_argument_form", argument: argument, side: "negative" %>
      <% end %>
      <% (3 - current_user.arguments.where(topic_id: @topic.id).negative.count).times do %>
        <%= render "arguments/new_argument_form", argument: @argument, side: "negative" %>
      <% end %>
    </div>
  </div>
</div>
