<div class="custom">
<% unless argument.nil? %>
  <%= simple_form_for [@topic, argument], html: { class: "m-3"} do |f| %>
    <%= f.input :content, label: false %>
    <%= f.input :side, as: :hidden, input_html: { value: side }%>
    <%= f.button :button, class: "btn btn-primary" do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
  <% end %>
<% end %>
</div>
