<div class="custom">
  <% unless argument.nil? %>
    <%= simple_form_for [@topic, argument], html: { class: "argument-form m-3"} do |f| %>
      <%= f.input :content, label: false %>
      <%= f.input :side, as: :hidden, input_html: { value: side }%>
      <%= f.submit "", as: :hidden, :style => "display: none;" %>
    <% end %>
  <% end %>
</div>
