<li>Communication:
  <% 4.times do %>
    <i class="fas fa-circle mr-2" style="color: #9DEDAA"></i>
  <% end %>
  <% 1.times do %>
    <i class="fas fa-circle mr-2" style="color: #CACACA"></i>
  <% end %>
</li>
<li>Persuasiveness:
  <% 2.times do %>
    <i class="fas fa-circle mr-2" style="color: #9DEDAA"></i>
  <% end %>
  <% 3.times do %>
    <i class="fas fa-circle mr-2" style="color: #CACACA"></i>
  <% end %>
</li>
<li>Civility:
  <% 2.times do %>
    <i class="fas fa-circle mr-2" style="color: #9DEDAA"></i>
  <% end %>
  <% 3.times do %>
    <i class="fas fa-circle mr-2" style="color: #CACACA"></i>
  <% end %>
</li>
