<div class="container-dash">
  <div class="map">
    <div class="row">
      <div class="col-6">
        <h4><%= current_user.username %></h4>
            <%= @user.email %>
            <%= current_user.photo %>
      </div>
      <div class="col-6">

      </div>
    </div>
  </div>
</div>


