<% case @topic.level.to_i %>
  <% when 1 %>
    <p>Beginner</p>
    <% 1.times do %>
      <i class="fas fa-circle" style="color: #9DEDAA"></i>
    <% end %>
    <% 4.times do %>
      <i class="fas fa-circle" style="color: #CACACA"></i>
    <% end %>
  <% when 2 %>
    <p>Beginner</p>
    <% 2.times do %>
      <i class="fas fa-circle" style="color: #9DEDAA"></i>
    <% end %>
    <% 3.times do %>
      <i class="fas fa-circle" style="color: #CACACA"></i>
    <% end %>
  <% when 3 %>
    <p>Intermediate</p> 
    <% 3.times do %>
      <i class="fas fa-circle" style="color: #9DEDAA"></i>
    <% end %>
    <% 2.times do %>
      <i class="fas fa-circle" style="color: #CACACA"></i>
    <% end %>
  <% when 4 %>
    <p>Intermediate</p> 
    <% 4.times do %>
      <i class="fas fa-circle" style="color: #9DEDAA"></i>
    <% end %>
    <% 1.times do %>
      <i class="fas fa-circle" style="color: #CACACA"></i>
    <% end %>
  <% when 5 %>
    <p>Professional</p> 
    <% 5.times do %>
      <i class="fas fa-circle" style="color: #9DEDAA"></i>
    <% end %>
<% end %>
