<div class="feedback-icons row d-flex justify-content-around">
  <div>
    <a href="#">
      <div class="feedback-icon-tan ml-4">
        <i class="far fa-thumbs-up"></i>
      </div>
    </a>
    <p class="text-center">Good Communication</p>
  </div>
  <div>
    <a href="#">
      <div class="feedback-icon-tan">
        <i class="far fa-smile"></i>
      </div>
    </a>
    <p class="text-center">Persuasive</p>
  </div>
  <div>
    <a href="#">
      <div class="feedback-icon-tan">
        <i class="fas fa-crown"></i>
      </div>
    </a>
    <p class="text-center">Civil</p>
  </div>
</div>
