<div class="feedback-icons">
  <div>
    <div class="feedback-icon-tan">
      <i class="far fa-thumbs-up"></i>
    </div>
    <p class="text-center">Respectful</p>
  </div>
  <div>
    <div class="feedback-icon-tan">
      <i class="far fa-smile"></i>
    </div>
    <p class="text-center">Positive</p>
  </div>
  <div>
    <div class="feedback-icon-tan">
      <i class="fas fa-crown"></i>
    </div>
    <p class="text-center">Persuasive</p>
  </div>
</div>
