<div class="phase-bubble-neutral">
  <p>count down</p>
</div>
<div class="phase-bubble-affirmative">
  <p>affirmative speech</p>
</div>
<div class="phase-bubble-negative">
  <p>negative X prep</p>
</div>
<div class="phase-bubble-negative phase-bubble-active">
  <p>negative X</p>
</div>
<div class="phase-bubble-negative">
  <p>negative speech</p>
</div>
<div class="phase-bubble-affirmative">
  <p>affirmative X prep</p>
</div>
<div class="phase-bubble-affirmative">
  <p>affirmative X</p>
</div>
<div class="phase-bubble-affirmative">
  <p>affirmative close prep</p>
</div>
<div class="phase-bubble-affirmative">
  <p>affirmative close</p>
</div>
<div class="phase-bubble-negative">
  <p>negative close prep</p>
</div>
  <div class="phase-bubble-negative">
  <p>negative close</p>
</div>
<div class="phase-bubble-neutral">
  <p>final score</p>
</div>

