<% Debate.phases.keys[1..-2].each do |phase| %>
  <ul class="phase-bubble-<%= Debate.phase_type(phase.to_sym) %><%= " phase-bubble-active" if phase == debate.phase %>">
    <li><%= Debate::PHASE_TITLES[phase.to_sym] %></p>
  </ul>
<% end %>
