<div class="user-icon-left d-flex">
  <div class="mr-2">
    <%= cl_image_tag participant.user.photo, class:"affirmative-image" %>
  </div>
  <div>
    <h4><%= participant.user.username %></h4>
  </div>
</div>
