<h3 class="role">Negative position</h3>
<p class="user-icon-right">Rendered User stuff</p>
<div id="argument-uses-right">
  <div><p class="argument-use">Argument 1</p></div>
  <div><p class="argument-use">Argument 2</p></div>
  <div><p class="argument-use">Argument 3</p></div>
</div>
