<h3 class="role">Negative position</h3>
<div class="user-icon-right text-right d-flex justify-content-end">
  <div>
    <h4><%= participant.user.username %></h4>
  </div>
  <div class="ml-2">
    <%= cl_image_tag participant.user.photo, class:"negative-image" %>
  </div>
</div>
<div id="argument-uses-right">
  <div><p class="argument-use">Argument 1</p></div>
  <div><p class="argument-use">Argument 2</p></div>
  <div><p class="argument-use">Argument 3</p></div>
</div>
