<div class="user-icon d-flex justify-content-around phone-call">
  <div class="mr-2">
    <%= cl_image_tag user.photo, class:"debator-image" %>
  </div>
  <div>
    <h4><%= user.username %></h4>
  </div>
</div>
