<div id="argument-uses-right">
  <% @debate.participants.negative.first.user.arguments.negative.where(topic: @debate.topic).each do |argument| %>
    <div class="argument-use-negative d-flex justify-content-start"><h5><%= argument.content %></h5> </div>
  <% end %>
</div>
