<div id="argument-uses-left">
  <% @debate.participants.affirmative.first.user.arguments.affirmative.where(topic: @debate.topic).each do |argument| %>
    <div class="argument-use-affirmative d-flex"><h5><%= argument.content %></h5> </div>
  <% end %>
</div>
