<h3 class="role">Negative position</h3>
<p class="user-icon-right">Rendered User stuff</p>
<div id="argument-uses-right">
  <% @debate.participants.negative.first.user.arguments.negative.where(topic: @debate.topic).each do |argument| %>
    <div class="argument-use-negative d-flex justify-content-end"><h5><%= argument.content %></h5> </div>
  <% end %>
</div>
