<div class="container" id="results-box-winner">
  <div class="mb-5">
    <h1>You Won!</h1>
    <h3 class="mb-3">Congratulations</h3>
    <p>Add some feedback for your opponent below and help keep Ronpa a great place to debate.</p>
  </div>
  <%= render 'feedback_icons_winner' %>
  <div id="results-buttons">
    <div class="d-flex justify-content-start">
      <%= link_to dashboard_path, class: "btn-light-tan" do %>
        <i class="fas fa-exclamation-triangle"></i> Report a Participant
      <% end %>
    </div>
    <div class="d-flex justify-content-end">
      <%= link_to "Dashboard", dashboard_path, class: "btn-light-tan mx-3" %>
      <%= link_to "Debate Topic Again", topic_path(@debate.topic), class: "btn-light-tan" %>
    </div>
  </div>
</div>

