<div class="container pb-5">
    <div class="d-flex justify-content-around">
      <div class="mr-3 mt-3">
        <%= link_to "Browse Topics", topics_path, class:"btn btn-default" %>
      </div>
      <div class="mr-3 mt-3">
        <%= link_to "Dashboard", dashboard_path, class:"btn btn-default" %>
      </div>
    </div>
      <h2 class="text-center mb-5" id = "topic-index-header">Debates</h2>
  <div class="debates-card-container">
    <div class="row">
      <%=  %>
      <div class="topic-card">
        <h3 style="text-align: center">Room: </h3>
        <p> Created by: </p>
      </div>
        <%  %>
    </div>
  </div>
</div>




