<h1 class="text-center"><%= @debate.topic.proposition%></h1>
  <div class="container pl-0 pr-0">
    <div class="d-flex justify-content-between">
      <% @debate.participants.each do |participant| %>
          <% if participant.role == "affirmative" %>
            <div class="user-pane-left pt-2">
              <%= render 'user_pane_left', participant: participant %>
            </div>
          <% elsif participant.role == "negative" %>
            <div class="user-pane-right pt-2">
              <%= render 'user_pane_right', participant: participant %>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
