<div id="updated_show">
  <%= render 'updated_show', debate: @debate %>
</div>

<% content_for :after_js do %>
  <script>
  function launchTimer(phase) {
    let event = new Event("newPhaseStarted");
    event.currentPhase = phase;
    window.dispatchEvent(event);
  }
  launchTimer('<%= @debate.phase %>');

    App['debate_<%= @debate.id %>'] = App.cable.subscriptions.create(
      { channel: 'DebatesChannel', debate_id: <%= @debate.id %> },
      { received: (data) => {

        if (data.current_phase === "finished") {
          window.location.reload();
        }

        document.getElementById('updated_show').innerHTML = data.page_html;

        launchTimer(data.current_phase)

        hideEndTurnButton()

        }
      }
    );
  </script>
<% end %>
