#topic-index-banner {
  height: 200px;
  background-image: url("notebook.jpg");
  display: fit;
  position: relative;
}

// .search-form {
//   position: absolute;
// }

// .banner-text {
//   position: absolute;
// }
