  .btn-default {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
  }

.btn-new {
  background-color: #D95852;
  color: #F9F4D4;
  padding: 10px;
  border-radius: 8px;
  margin: 4px;
  transition: 0.3s;
  &:hover {
    color: #F9F4D4;
    background-color: #c34f49;
  }
}

.btn-landing {
  color: #212121;
  background-color: transparent;
  border: 2px solid #F9F4D4;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 24px;
  transition: 0.3s;
   &:hover {
    background-color: #F9F4D4;
    color: #212121;
   }
}

.btn-light-tan {
  background-color: transparent;
  color: $ronpa-tan;
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid $ronpa-tan;
  margin: 4px;
  transition: 0.3s;
  &:hover {
    color: $ronpa-red;
    background-color: $ronpa-tan;
  }
}

.btn-light-red {
  background-color: transparent;
  color: $ronpa-red;
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid $ronpa-red;
  margin: 4px;
  transition: 0.3s;
  &:hover {
    color: $ronpa-tan;
    background-color: $ronpa-red;
  }
}


//new button landing page //


// end of new button landing //
