  .btn-default {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
  }

.btn-new {
  background-color: #D95852;
  color: #F9F4D4;
  padding: 10px;
  border-radius: 8px;
  &:hover {
    color: #F9F4D4;
    transition: transform .3s;
    background-color: #c34f49;
  }
}


