  .btn-default {
    border: 1px solid $medium-gray;
    border-radius: 4px;
  }

.btn-new {
  background-color: $ronpa-red;
  color: $ronpa-tan;
  padding: 10px;
  border-radius: 8px;
  margin: 4px;
  transition: 0.3s;
  &:hover {
    color: $ronpa-tan;
    background-color: $ronpa-red;
  }
}

.btn-landing-tan {
  color: $ronpa-tan;
  background-color: transparent;
  border: 2px solid $ronpa-tan;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 20px;
  transition: 0.3s;
   &:hover {
    background-color: $ronpa-tan;
    color: $ronpa-red;
   }
}

.btn-landing-red {
  color: $ronpa-red;
  background-color: transparent;
  border: 2px solid $ronpa-red;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 24px;
  transition: 0.3s;
   &:hover {
    background-color: $ronpa-red;
    color: $ronpa-tan;
   }
}

.btn-light-tan {
  background-color: transparent;
  color: $ronpa-tan;
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid $ronpa-tan;
  margin: 4px;
  transition: 0.3s;
  &:hover {
    color: $ronpa-red;
    background-color: $ronpa-tan;
  }
}

.btn-light-red {
  background-color: transparent;
  color: $ronpa-red;
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid $ronpa-red;
  margin: 4px;
  transition: 0.3s;
  &:hover {
    color: $ronpa-tan;
    background-color: $ronpa-red;
  }
}


//new button landing page //

.button-land {
   background-color: transparent;
  color: $ronpa-red;
  padding: 8px 16px;
  border-radius: 16px;
  font-size: 24px;
  border: 2px solid $ronpa-red;
  margin: 8px;
  transition: 0.3s;
  &:hover {
    color: $ronpa-tan;
    background-color: $ronpa-red;
  }
}
// end of new button landing //

// button links for navbar//

.btn-nav {
  color: $ronpa-red;
  padding: 0.5rem 1rem;
  display: block;
  transition: 0.2s;
  &:hover {
    text-decoration: none;
    font-size: 18px;
    color: $ronpa-red;
  }
}

.button-container {
  min-height: 16px;
}

#end-turn-btn:disabled {
  background-color: gray;
}
