.card {
  border: 1px solid $light-gray;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  padding: 8px;
  margin: 5px;
}

.card a {
  text-decoration: none;
}

.topic-card {
  position: relative;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  padding: 8px;
  padding-top: 24px;
  background-color: $ronpa-tan-light;
  border-radius: 8px;
  transition: transform .4s;
  &:hover {
    transform: scale(1.06);
  }
  h4 {
    height: 70px;
    color: $dark-gray;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px $medium-gray;
    padding-bottom: 12px;
  }
  .details-text {
    font-size: 16px;
    font-weight: lighter;
    padding-top: 12px;
    padding-bottom: 0px;
    color: $medium-gray;
  }
}

.create-topic-card {
  position: relative;
  border: 1px solid $light-gray;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  padding: 8px;
  padding-top: 24px;
  margin: 5px 20px ;
  background-color: $ronpa-tan-light;
  border-radius: 8px;
  transition: transform .4s;
  &:hover {
    transform: scale(1.06);
  }
  h4 {
    height: 48px;
    color: $dark-gray;
    font-size: 16px;
    text-align: center;
    padding-bottom: 12px;
  }
}

.dashboard-card {
  position: relative;
  border: 1px solid $light-gray;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  padding: 8px;
  padding-top: 24px;
  margin: 5px 20px ;
  background-color: $ronpa-tan-light;
  border-radius: 8px;
  transition: transform .4s;
  &:hover {
    transform: scale(1.06);
  }
  h4 {
    height: 70px;
    color: $dark-gray;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid $lighter-gray;
    padding-bottom: 12px;
  }

  .details-text {
    font-size: 16px;
    font-weight: lighter;
    padding-top: 8px;
    padding-bottom: 0px;
    color: $medium-gray;
  }

  .p {
    padding: 0px;
    margin: 0px;
  }
}
