.card {
  border: 1px solid #F3F3F3;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  padding: 8px;
  margin: 5px;
}

.card a {
  text-decoration: none;
}

@media(max-width: 992px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .container {
    grid-template-columns: 1fr ;
  }
}

.topic-card {
  position: relative;
  border: 1px solid #F3F3F3;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  padding: 8px;
  padding-top: 24px;
  margin: 5px 5px 20px 10px;
  transition: transform .4s;
  &:hover {
    transform: scale(1.06);
  }
  h4 {
    height: 70px;
    color: rgb(80, 80, 80);
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 12px;
  }
  .details-text {
    font-size: 16px;
    font-weight: lighter;
    padding-top: 12px;
    padding-bottom: 0px;
    color: rgb(150, 150, 150);
  }
}
