@media(max-width: 992px) {
  .debates-show-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .debates-show-container {
    grid-template-columns: 1fr ;
  }
}

@media(max-width: 992px) {
  .actions-controller {
    grid-template-columns: 3fr;
  }
}

@media(max-width: 768px) {
  .actions-controller {
    grid-template-columns: 3fr ;
  }
}

.topic-card-container {
  position:  relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.topic-index-container {
  background-color: #86F590;
}

.debates-show-container {

}
