.topic-card-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.topic-index-container {
  background-color: $ronpa-purple-medium;
}

.debates-show-container {

}

@media (max-width: 992px) {
  .debates-show-container {
    grid-template-columns: 1fr 1fr;
  }
  .topic-card-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .debates-show-container {
    grid-template-columns: 1fr ;
  }
  .topic-card-container {
    grid-template-columns: 1fr ;
  }
}

.container-topic-show {
  height: 100vh;
}
