
.container-dash {
  margin: 0 auto;
}

.card-dash {
  position: relative;
  border-radius: 12px;
  border: 1px solid #F3F3F3;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  margin: 1em;
  padding: 1em;
  transition: transform .4s;
  &:hover {
    transform: scale(1.1);
  }

}

.card-icon {
  font-size: 64px;

}

.blue {
  background-color: rgba(170,202,255,0.9);
}

.red {
  background-color: rgba(227,122,122,0.9);
}

.green{
  background-color: rgba(134,245,145,0.9);
}

#avatar-dash {
  height: 200px;
  width: 200px;
}

.card-info {
  border: 1px solid white;
  box-shadow: 0 0 3px rgba(0,0,0,0.6);
  border-radius: 12px;
  width: 200px;
}



.card-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}



.user-info {
  border: 1px solid white;
  box-shadow: 0 0 3px rgba(0,0,0,0.6);
  border-radius: 12px;
  background-color: rgba(#DFE5E8, 0.9);
  padding: 24px;
}

.tabs {
  border: 1px solid gray;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  margin: 8px;
  padding: 3px;
  border-radius: 12px;
  word-wrap:break-word;
}


// new dashboard design

.open-debates {
  margin-bottom: 24px;
  height: 60vh;
  overflow: scroll;
  border-radius: 0 0 16px 16px;
}

.dashboard-header {
  text-align: center;
  color: #212121;
  background-color: #D3D6D9;
  padding: 24px 0;
  font-weight: bold;
  border-radius: 16px 16px 0 0;

}

.info {
  margin-bottom: 16px;
}

.actions-controller {
  justify-content: space-around;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-gap: 60px;
  // width: 70vw ;
  margin: 0px 50px;
}

.username {
  padding-bottom: 12px;
  text-align: center;

}

@media(max-width: 992px) {
  .actions-controller {
    grid-template-columns: 3fr;
  }
}

@media(max-width: 768px) {
  .actions-controller {
    grid-template-columns: 3fr ;
  }
}


// end of new dashboard design -- add inside if have new changes


