.flip-card {
  height: 50px;
  margin: 12px;
  margin-top: 14px;
  line-height: 40px;
  padding: 0px;
}

// .flip-card.is-flipped {
//   transform: rotateX(180deg);
// }

.card__face {
  color: $light-gray;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  backface-visibility: hidden;
}

.card__face--front {
  background: $ronpa-red;
  color: $ronpa-tan;
  border-radius: 8px;
  transition: transform .4s;
  &:hover {
    color: $ronpa-tan;
    background-color: $ronpa-red;
    transform: scale(1.06);
  }
}

.card__face--back {
  color: $dark-gray;
  transform: rotateX(180deg);
  border-radius: 8px;
}
