.flip-card {
  height: 50px;
  margin: 12px;
  margin-top: 14px;
  line-height: 40px;
  padding: 0px;
}

// .flip-card.is-flipped {
//   transform: rotateX(180deg);
// }

.card__face {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  backface-visibility: hidden;
}

.card__face--front {
  background: #D95852;
  color: #F9F4D4;
  border-radius: 8px;
  transition: transform .4s;
  &:hover {
    color: #F9F4D4;
    background-color: #c34f49;
    transform: scale(1.06);
  }
}

.card__face--back {
  color: black;
  transform: rotateX(180deg);
  border-radius: 8px;
}
