body {
  background-color: #F9FBFF;

    &.menu-open{
        #body-overlay {
            display: block;
        }
    }

    &.menu-open {
        .real-menu {
            left: 0;
        }
    }
}
