.knight-green {
  color: #86F590;
}

.knight-blue {
  color: #A7C2F2;
}

.knight-yellow {
  color: #EDD892;
}

.knight-orange {
  color: #FEC196;
}

.knight-red {
  color: #E3797A;
}

.knight-grey {
  color: #E5E1EE;
}

.category-icon {
  position: absolute;
  top: -22px;
  left: 40%;
  color: white;
  background-color: #A7C2F2;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding-top: 6px;
  border: 3px solid white;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  opacity: 0.8;
}
