.knight-blue {
  color: $ronpa-red;
}
.knight-grey {
  color: #D2D1C9;
}

.category-icon {
  position: absolute;
  top: -22px;
  left: calc(50% - 17px);
  color: $ronpa-tan;
  background-color: $ronpa-red;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding-top: 6px;
  border: 3px solid $light-gray;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  opacity: 0.8;
}

.fa-lg {
  vertical-align: -3px;
}

.topic-show-icon{
  color: $light-gray;
  color: $ronpa-tan;
  position: relative;
  left: 50px;
  top: 50px;
}

