.topic-show-icon{
  color: white;
  position: relative;
  left: 50px;
  top: 50px;
}

.user-icon-left {
  padding-top: 90px;
  padding-right: 350px;
}

.user-icon-right {
  padding-top: 90px;
  padding-left: 350px;
}

