.knight-blue {
  color: #D95852;
}

.knight-grey {
  color: #E5E1EE;
}

.category-icon {
  position: absolute;
  top: -22px;
  left: 40%;
  color: #F9F4D4;
  background-color: #D95852;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding-top: 6px;
  border: 3px solid white;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  opacity: 0.8;
}

.fa-lg {
  vertical-align: -3px;
}

.topic-show-icon{
  color: white;
  color: #F9F4D4;
  position: relative;
  left: 50px;
  top: 50px;
}

