.topic-show-icon{
  color: #F9F4D4;
  position: relative;
  left: 50px;
  top: 50px;
}

.medal-bronze {
  color: #CD7F32;
}
.medal-silver {
  color: #D5D5D5;
}
.medal-gold {
  color: #FAD701;
}
.medal-diamond {
  color: #8EBEE5;
}
.medal-platinum {
  color: #E5E4E2;
}
.medal-master {
  color: #F7132A;
}
.medal-grand-master {
  color: #7824CC;
}
