
.home-header {

  background: linear-gradient(160deg, #D95852 50%, #F9F4D4 50%);
  // clip-path: polygon(0 0, 100% 0, 100% 8%, 0% 100%);

}

.home-header {
    height: 615px;
    overflow: hidden;
    position: relative;
}


.landing-nav {
  background-color: #D95852;
  transition: 0.5s background-color ease;
  top: 0;
  z-index: 2;
  flex-grow: 0;
  color: #212121;
}

#site-nav{
  background-color: transparent;
}

.home-content {
  background: #F9F4D4;
  margin-top: -200px;
  height: 360px;
}
