
.home-header {

  background: linear-gradient(160deg, $ronpa-red 50%, $ronpa-tan 50%);
  // clip-path: polygon(0 0, 100% 0, 100% 8%, 0% 100%);

}

.home-header {
    height: 616px;
    overflow: hidden;
    position: relative;
}


.landing-nav {
  background-color: $ronpa-red;
  transition: 0.5s background-color ease;
  top: 0;
  z-index: 2;
  flex-grow: 0;
  color: $off-black;
}

#site-nav{
  background-color: transparent;
}

.home-content {
  background: $ronpa-tan;
  margin-top: -200px;
  min-height: 430px;
}

.welcome-message h2{
  font-size: 40px;

}

.info-landing {
  margin-left: 13rem;
}
