span{
    transform: skew(-10deg);
    display: block;
    float: left;
    text-shadow: $ronpa-purple-dark 16px 14px, $ronpa-purple-dark 2px 2px, $ronpa-purple-dark 3px 3px, $ronpa-purple-dark 4px 4px;
  }

.el {
  color: $ronpa-tan;
  text-transform: uppercase;
  font-size: 42px;
  margin: 0;
  line-height: 47px;
  letter-spacing: 2px;
}

.letters {
  transform: translateX(-56%) rotate(-21.5deg);
  display: block;
  float: left;
  left: 58%;
  position: relative;
  color: $ronpa-tan;

  &span {
    transform: skew(-10deg);
    display: block;
    float: left;
    text-shadow: $ronpa-purple-dark 1px 1px, $ronpa-purple-dark 2px 2px, $ronpa-purple-dark 3px 3px, $ronpa-purple-dark 4px 4px, $ronpa-purple-dark 5px 5px, $ronpa-purple-dark 6px 6px;
    min-width: 10px;
    min-height: 10px;
    position: relative;
  }
}

// .title{
//     &:nth-child{
//       color: white;
//     }
// }



.row-logo {
  margin-left: -80px;
  margin-top: 60px;
}

.ml11 {
  font-weight: 700;
  // font-size: 3.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.9em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  transform: skew (-40deg);
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: $light-gray;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  // transform: translateX(-50%) rotate(-10deg);
  display: inline-block;
  line-height: 1em;
}

.big {
  font-size: 250px;
}

@media (max-width: 992px) {
  .big {
    font-size: 100px;
    margin-left: 57px;
  }
  .welcome-message {
    min-width: 100%;
  }
  .buttons {
    min-width: 100%;
    margin-top: 0 !important;
    line-height: 4rem;
  }
  .info-landing {
    margin-left: 0;
  }
  span {
    text-shadow: #533d4a 7px 7px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px;
  }
}

@media (max-width: 768px) {
  .big {
    font-size: 100px;
    margin-left: 57px;
  }
  .welcome-message {
    min-width: 100%;
  }
  .buttons {
    min-width: 100%;
  }
  .info-landing {
    margin-left: 0;
  }
  span {
    text-shadow: #533d4a 7px 7px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px;
  }
}

//navbar logo top left //
.logo-nav img {
  width: 200px;
}

.letters-logo {
  transform: translateX(-53%) rotate(0deg);
    display: block;
    float: left;
    left: 58%;
    position: relative;
    color: #C34F49;
    font-size: 54px;
    text-shadow: #533d4a 3px 2px, #533d4a 0px 1px, #533d4a 1px 1px, #533d4a 2px 2px;
}
