
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon {
  color: #212121;
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
  top: 0;
  z-index: 2;
  margin-bottom: 32px;
  color: #212121;
  // box-shadow: 0 0 3px rgba(0,0,0,0.6);
}

.avatar {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  &:hover{
    cursor: pointer;
  }
}

.dropdown-item {
  width: 32px;
}

.dropdown-item:hover {
  background-color: #ecaba8;
  width: auto;
}

