.user-pane-left {
  background-color: #B9DDF7;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2);
  h3 {
    border-bottom: 1px solid #D95852;
    padding-bottom: 4px;
  }
}

.user-pane-right {
  background-color: #D8ABA9;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2);
  h3 {
    border-bottom: 1px solid rgb(150, 150, 150);
    padding-bottom: 4px;
  }
}

#debate-box {
  margin-top: 18px;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 2px solid #D95852;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2);
  background-color: #FCFAED;
}

.role {
  padding-top: 30px;
  padding-bottom: 8px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #D95852;
  width: 30%;
}

.topic-proposition-text {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  margin-top: 8px;
}

.text-moderator {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.phase-text {
  padding: 16px;
  border-radius: 8px;
  background-color: white;
  color: #D95852;
  width: 40%;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  justify-content: center;
  margin-top: 8px;
}

.text-clock {
  position: relative;
  top: 85px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.user-icon-left {
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  border-bottom: 1px solid #D95852;
  width: 30%;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.user-icon-right {
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  border-bottom: 1px solid #D95852;
  width: 30%;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.argument-use-affirmative {
  margin: 16px;
  background-color: #FFFFFF;
  padding: 8px 32px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  width: 400px;
}

.argument-use-negative {
  margin: 16px;
  background-color: white;
  padding: 8px 32px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  width: 400px;
}

.moderator-image {
 height: 80px;
 width: 80px;
 position: relative;
 border: 2px solid white;
 border-radius: 50%;
 margin-bottom: 8px;
 object-fit: cover;
 box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.affirmative-image {
  height: 80px;
  width: 80px;
  border: 2px solid white;
  border-radius: 50%;
  margin-bottom: 8px;
  object-fit: cover;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.negative-image {
  height: 80px;
  width: 80px;
  border: 2px solid white;
  border-radius: 50%;
  margin-bottom: 8px;
  object-fit: cover;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}
