.user-pane-left {
  background-color: #E9FFDB;
  height: 100vh;
  width: 50%;
  text-align: center;
  padding: 8px;
  position: relative;
  top: -154px;
  z-index: -1;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  h3 {
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 4px;
  }
}

.user-pane-right {
  background-color: #DBF0FF;
  height: 100vh;
  width: 50%;
  text-align: center;
  position: relative;
  top: -154px;
  z-index: -1;
  padding: 8px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  h3 {
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 4px;
  }
}

.debate-panes {
  position: relative;
}

.role {
  padding-top: 60px;
}

.text-phase {
  position: relative;
  top: 90px;
}

.text-moderator {
  position: relative;
  top: -300px;
}

.text-clock {
  position: relative;
  top: 85px;
}

.user-icon-left {
  padding-top: 90px;
  padding-right: 350px;
}

.user-icon-right {
  padding-top: 90px;
  padding-left: 350px;
}

#argument-uses-left {
  margin-top: 90px;
}

#argument-uses-right {
  margin-top: 90px;
}

.argument-use {
  margin-bottom: 20px;
  background-color: white;
  padding: 8px;
}

.moderator-image {
 height: 100px;
 width: 100px;
 position: relative;
 border: 2px solid red;
}

