.user-sidebar {
  display: flex;
  height: 70vh;
  width: 100vw;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 170px;
  background-color:rgba(#353D47, 0.8);
  border-radius: 0px 16px 16px 0px;
  padding: 4px;
}

.info {
  padding: 8px;
  border-bottom: 1px solid white;
  text-align: center
}

.actions {
  text-align: center;
  color: white
}

.user-dashboard {
  display: flex;
  flex-direction: column;
}
