// .user-sidebar {
//   display: flex;
// }

.sidebar {
  color: $off-black;
  display: flex;
  flex-direction: column;
  background-color: $ultra-light-gray;
  border-radius: 16px;
  padding: 8px;
  // box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  box-shadow: $ronpa-purple-dark-50 10px 5px 10px;
}


.actions {
  text-align: center;
  color: charcoal;
  margin-top: 8px;
    & li {
    margin-bottom: 8px;
  }
}

.user-dashboard {
  display: flex;
  flex-direction: column;
  margin: 4px;
}

.dashboard-image {
  width: 150px;
  height: 150px;
  text-align: center;
  margin-bottom: 8px;
  border-radius: 16px;
  object-fit: cover;
}

.ratings {
  text-align: left;
}

.timeline-sidebar {
  display: inline-grid;
    grid-template-columns: 1fr;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2);
    background-color: #FCFAED;
    border-radius: 16px;
    max-width: 400px;
    margin: 16px 0 16px 16px;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 16px;
    width: 310px;
    align-items: center;
}
