#body-overlay {
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}


.real-menu {
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 4;
    width: 240px;
    height: 100%;
    padding: .5rem 1rem;
    box-shadow: 0 6px 12px rgba(107, 82, 82, 0.3);
    background-color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: ease 0.3s all;
}

#open-menu {
  position: absolute;
  top: 0;
  margin: 12px;
}

.fa-bars {
  color: #6A9BEB;
}


