.phase-bubble-neutral {
  p {
    margin: 0;
    padding: 0;
  }
  padding: 8px;
  text-align: center;
  margin: 7px 2px;
  border-radius: 16px;
  border: 1px solid $medium-gray;

  transition: transform .6;
  border-bottom-width: thick;
  background: $light-gray;
  width: 100%;
}

.phase-bubble-affirmative {
  p {
    margin: 0;
    padding: 0;
  }
  padding: 8px;
  text-align: center;
  margin: 7px 2px;
  border-radius: 16px;
  border: 1px solid $ronpa-purple;
  transition: transform .6;
  border-bottom-width: thick;
  width: 100%;
  background: $ronpa-purple-light;
}

.phase-bubble-negative {
  p {
    margin: 0;
    padding: 0;
  }
  padding: 8px;
  text-align: center;
  margin: 7px 2px;
  border-radius: 16px;
  border: 1px solid $ronpa-red;
  transition: transform .6;
  border-bottom-width: thick;
  width: 100%;
  background: $ronpa-red-light;
}

.phase-bubble-active {
  transform: scale(1.02);
  border-right-width: thick;
  border-bottom-width: thick;
  font-weight: bolder;
  background: white;
}
