.phase-bubble-neutral {
  p {
    margin: 0;
    padding: 0;
  }
  padding: 8px;
  text-align: center;
  margin: 7px 2px;
  border-radius: 16px;


  background: #4950571f;
  width: 100%;
}

.phase-bubble-affirmative {
  p {
    margin: 0;
    padding: 0;
  }
  padding: 8px;
  text-align: center;
  margin: 7px 2px;
  border-radius: 16px;
  border-color: #26b642ab;
  width: 100%;
  background: #26b64214;
}

.phase-bubble-negative {
  p {
    margin: 0;
    padding: 0;
  }
  padding: 8px;
  text-align: center;
  margin: 7px 2px;
  border-radius: 16px;
  border-color: #c34f49;
  width: 100%;
  background: #c34f4914;
}

.phase-bubble-active {
  transform: scale(1.02);
  border-left-width: thick;
  font-weight: bolder;
  background: #fff;
}
