.phase-bubble-neutral {
  p {
    margin: 0;
    padding: 0;
  }
  padding: 16px;
  text-align: center;
  margin: 7px 2px;
  width: 100%;
  border-left: 4px solid #b2b2b2c4;
}
.phase-bubble-affirmative {
  p {
    margin: 0;
    padding: 0;
  }
  padding: 16px;
  text-align: center;
  margin: 7px 2px;
  width: 100%;
  border-left: 4px solid #26b642ab;
}
.phase-bubble-negative {
  p {
    margin: 0;
    padding: 0;
  }
  padding: 16px;
  text-align: center;
  margin: 7px 2px;
  width: 100%;
  border-left: 4px solid #ef8984;
}
.phase-bubble-active {
  // border-left: 8px solid ;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;

}
